body {
	font-family: "Lato", sans-serif;
	padding: 20px;
    background-image: linear-gradient((rgb(228, 166, 118)),(rgb(255, 190, 48)));
}

#app {
	padding: 20px;
}

#projectInfoCon {
	margin-top: 100px;
}

a {
	color:rgb(49, 127, 230);
	text-decoration: none;
}

h2 {
    color: rgb(49, 127, 230);
    margin-top: 20px;
    font-size: 38px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#project-list {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    // margin-top: 40px;
}

#project-list li {
    margin-bottom: 30px;
}

#project {
    margin-top: 20px;
}

#project p {
    text-align: left;
}

.label {
    font-weight: bold;
    color: rgb(49, 127, 230); 
}

#scrollTop {
    display: block;
}

@media screen and (min-width: 768px) {
    #scrollTop {
        display: none;
    }
}