<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Vue Ajax</title>
    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
</head>

<body>
    <div class="grid-con" id="app">
        <h2 class="col-span-full m-col-span-full" id="scroll">My Portfolio API</h2>
            <p class="col-span-full m-col-span-full">Look through my projects!!</p>
        <div class="col-span-full m-col-start-1 m-col-end-7">
            <ul id="project-list">
                <li v-for="project in projectsData">
                    <h3>Title:
                        <a href="#scroll-load" @click="getProject(project.title)">
                            {{project.title}}
                        </a>
                    </h3>
                    <img v-bind:src="`images/${project.image_url}`" alt="Project Thumbnail">
                </li>
            </ul>
        </div>
        <div class="col-span-full m-col-start-8 m-col-end-13" id="projectInfoCon">
            <div v-if="isLoading" id="scroll-load" class="loading">Loading<span class="dot1">.</span><span class="dot2">.</span><span class="dot3">.</span></div>
            <div v-if="error">{{error}}</div>
            <div v-if="Object.keys(projectInfo).length > 0" id="project">
                <p>
                    <span class="label">Description:</span> {{projectInfo.description}}
                </p>
                <p>
                    <span class="label">Credit:</span> {{projectInfo.credit}}
                </p>
                <p>
                    <span class="label">Problems and solutions:</span> {{projectInfo.problem_solution}}
                </p>
                <p>
                    <span class="label">Features:</span> {{projectInfo.features}}
                </p>
            </div>
        </div>
    </div>
    
    
</body>
</html>